*,
:after,
:before {
  box-sizing: border-box;
  outline: 0
}

body,
html,
#__nuxt,
#__layout {
  height: 100%;
  scroll-behavior: smooth;
  overflow: scroll;
  -webkit-overflow-scrolling:touch;
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f5f5f5;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-family: arial, sans-serif
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
iframe,
img,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

article,
aside,
audio,
details,
figcaption,
figure,
footer,
header,
mark,
menu,
nav,
section,
summary,
time,
video {
  display: block;
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

fieldset,
img {
  border: 0
}

address,
caption,
cite,
dfn,
em,
i,
th,
var {
  font-style: normal;
  font-weight: 400
}

ol,
ul {
  list-style: none
}

a {
  text-decoration: underline !important;
  color: blue
}

a:hover {
  text-decoration: underline
}

button,
input,
label,
select {
  -webkit-tap-highlight-color: transparent
}

button,
input,
select {
  font: 100% tahoma, \5b8b\4f53, arial;
  vertical-align: baseline;
  border-radius: 0;
  background-color: transparent
}

select {
  -webkit-appearance: none;
  -moz-appearance: none
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  border: none
}

input[type=checkbox],
input[type=radio] {
  vertical-align: middle
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  margin: 0
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset
}

textarea {
  outline: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: auto;
  resize: none;
  font: 100% tahoma, \5b8b\4f53, arial
}

.g-fix-ios-overflow-scrolling-bug {
  -webkit-overflow-scrolling: auto !important
}

.g-fix-ios-prevent-scroll {
  overflow: hidden !important;
  position: fixed;
  width: 100%
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*这一句是用来解决在安卓上的点击出现篮框问题*/
body{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*下面是解决ios上去除微信点击蓝色边框 */
input:focus,
p:focus,
div:focus{
-webkit-tap-highlight-color:rgba(0,0,0,0);
/* -webkit-user-modify:read-write-plaintext-only; */
}
* {
  outline:none;
}
.el-drawer {
  position: fixed;
  bottom: 0;
}
